[2016-01-16 22:28] rurban opened #1 "rename to staple?"
stable != staple, and stable is a bit misleading. now it's still time, later might be too late

[2016-01-16 23:25] jemc commented on #1
- **_stable**_ - not likely to change or fail; firmly established.
- **_stable**_ - a building set apart and adapted for keeping horses.

---
- **_staple**_ - a piece of bent metal or wire pushed through something or clipped over it as a fastening, in particular.
- **_staple**_ - a main or important element of something, especially of a diet.

---

I don't understand why you think **_staple**_ is

[2016-01-17 09:47] rurban commented on #1
Oops, so I mixed it up

[2016-01-17 09:47] #1 closed

[2016-05-10 14:13] SeanTAllen opened #12 "Non-zero exitcode when there is no bundle.json"
After the change @dipinhora made to allow for the use of stable with projects that don't define a bundle.json, I switched my emacs flycheck to always use stable if it is installed. This has an interesting effect that when used in a project with no bundle.json that we get an error due to a non-zero exit code.

If not having a bundle.json is ok, should the exit code be 0 instead?

[2016-05-10 14:47] jemc commented on #12
@SeanTAllen - with latest `pony-stable` master I _do_ get a zero exit code when running in a directory with no `bundle.json`:

[code]

[2016-05-10 15:00] SeanTAllen commented on #12
Odd. Closing until I can come up with something more to reproduce.

[2016-05-10 15:00] #12 closed

[2016-09-02 03:11] lisael opened #15 "Allow local bundle.json"
Let's say that stable first loads `bundle.json` and then it overrides the json object (dict merge) with the content of `bundle.*.json` (taken in alphabetical order, the last one has precedence). With this mechanism one can commit `bundle.json` for their user to use and use local repos while they develop the package.

This can be deactivated by a switch in the stable command line so we are sure tha

[2016-09-02 03:55] jemc commented on #15
I'll have to chew it over a bit.  On it's face, I'm not totally opposed to the idea.  Although there will be some details to be worked out.

However, I also wonder whether this use case could be served in a way that is simpler and less magic by simply allowing a CLI option to select the bundle file that would be used.  For example, a temporary local override workflow could work something like:

[c

[2016-09-02 08:15] lisael commented on #15
I do agree on simplicity, my solution was over-complicated and doesn't do more than a simple CLI `--bundle` option and a simple `Makefile` would do.

The use case for the bundle generation is: in `bundle.local.json` you can put `local-path` deps so you see instantly the changes in the deps reflected in the current package. When you're ready to push your changes, commit and push all the deps.

The

[2017-05-14 21:57] SeanTAllen opened #19 "Document bundle.json and its options"
We have no documentation currently for how to use stable and bundle.json.

[2017-07-15 09:32] plietar opened #21 "Invalid dependency type is silently ignored"
I tried to run `stable add local-path` a couple of times, as per the README instructions (fixed by #20), and nothing would happen.

`stable` should print an error instead in this case

[2017-07-15 09:41] plietar opened #22 "Local dependencies are relative to invocation directory, not `bundle.json`"
[code]
Because I'm in the `/pony-bar/bar` folder, the `../pony-foo` path refers to `/pony-bar/pony-foo`, which obviously doesn't exist. This seems unintuitive to me. I would expect all paths to be relative to the `bundle.json` file.

This probably affects `local-git` dependencies as well.

[2017-07-28 16:46] SeanTAllen opened #23 "Set up CI"
We should set up Travis and Appveyor to verify that pony-stable builds. From there, we can move to potentially adding tests.

- [ ] Travis
- [x] Appveyor

[2017-08-06 16:38] SeanTAllen commented on #23
So, should we test against most recently released Pony version or master? I'm thinking most recently released (and see if we can use our bintray packages on Linux and Windows).

Thoughts?

[2017-08-06 17:20] SeanTAllen opened #26 "Make prebuilt pony-stable available"
Will make it easier for folks to set up their own CI jobs that need stable, if prebuilt stable versions are available.

- [x] available via Bintray for Windows
- [x] available via Bintray for RPM
- [x] available via Bintray for Deb
- [x] available via Homebrew for OSX

Needs #23

[2017-08-06 18:08] SeanTAllen opened #28 "Automated tests"
At the moment, the best we can do when checking a PR is to verify that stable builds. We have no automated tests of basic functionality. I'm opening this issue to collect and track thoughts on what tests we should add.

[2017-08-06 22:23] SeanTAllen commented on #23
@kulibali I tried to do an .appveyor.yaml for this and realized I just don't know Windows well enough. Think you can get an .appveyor.yaml together?

[2017-08-07 02:32] chalcolith commented on #23
Sure, I can work on this tomorrow.

[2017-08-08 03:26] chalcolith commented on #23
AppVeyor is in place and building.  It doesn't deploy to BinTray yet.

[2017-08-08 10:58] SeanTAllen commented on #23
Perfect. Thanks.

[2017-08-08 10:58] #23 closed

[2017-08-16 14:15] hardliner66 opened #33 "Use dependency format similar to npm"
Currently the dependencies are listed in an array. With this its possible to list the same dependency twice, even with different tags.

Dependencies should be unique with a set of properties, so an object would be better.

[2017-09-11 23:15] SeanTAllen commented on #26
@kulibali I'm looking to get this in place so that people have an easier time installing stable. I'm going to take the release process from ponyc and move it over here as applicable. are you game to move do the same for Appveyor?

[2017-09-11 23:22] chalcolith commented on #26
Sure, can do.

[2017-09-11 23:41] SeanTAllen commented on #26
@kulibali ill let you know when i get started.

[2017-09-12 01:04] SeanTAllen commented on #26
I've opened a PR to get pony-stable into homebrew.

https://github.com/Homebrew/homebrew-core/pull/17962

[2017-09-12 03:25] SeanTAllen commented on #28
@jemc @Theodus any thoughts on what automated tests for stable would look like?

[2017-09-12 11:35] SeanTAllen commented on #26
Homebrew PR accepted.

[2017-09-12 15:52] chalcolith commented on #26
Once #35 is merged, the AppVeyor build is set up to:

- Grab the latest `ponyc` build from BinTray and use it to compile `pony-stable`.
- Name the resulting file `pony-stable-{version}-{build}.{git-hash}.zip`, where `{version}` comes from the `VERSION` file in the root directory.
- For builds on the `release` branch, deploy to `bintray.com/pony-language/pony-stable-win`.

[2017-09-14 00:31] jemc commented on #28
Maybe it could be an integration test that sets up an example `bundle.json` that clones its own repo (`pony-stable`), and imports some types to prove that it worked?

[2017-09-14 02:03] SeanTAllen commented on #28
@jemc i was just thinking the same thing. and then compile the program with `stable env ponyc`.

we can verify

- bundle file is correct after the `add` (this could be expanded for each type eventually)
- stable env ponyc compiles program

eventually i think we'd want to test other features like

- `tag`
- `local-git`
- `github`
- stable add

[2017-09-14 02:35] SeanTAllen commented on #33
@jemc thoughts on this?

[2017-09-16 11:24] SeanTAllen commented on #26
At this point, this is waiting on a fix to ponylang/changelog-tool and then I can move forward with testing a release.

[2017-09-16 15:32] #21 closed

[2017-09-16 15:57] SeanTAllen commented on #28
@rawkode any interest in this one? it's a little more advanced but probably manageable as a start. there's a bit of "how much can we use ponytest for" (a lot see https://github.com/ponylang/changelog-tool/blob/master/tests/main.pony tests)? and some would have to be some kind of automated integration test(s), so there's a bit of complication but its pretty straightforward. if you are interested, i

[2017-09-17 09:11] rawkode commented on #28
@SeanTAllen Yeah, I'll look at what I can do and come back with a plan :+1:

[2017-09-17 11:29] SeanTAllen commented on #28
@rawkode assume. i just sent you an invite to be part of our "contributor" team. it doesn't give you much in the way of privileges but does allow for you to appear in the "Assignee" list and be assigned to issues you are interested in working on. Baby steps towards committer!

[2017-09-17 13:58] SeanTAllen opened #40 "Release 0.1.0"
Going to give this a go.

[2017-09-17 13:59] SeanTAllen commented on #40
Travis and Appveyor are green.

[2017-09-17 14:05] SeanTAllen commented on #40
Blessing cf09db38853461ea095c09748d91cd7dfbabd02f

[2017-09-17 14:06] SeanTAllen commented on #40
Welp, release is underway. Let's see if I did this all correctly.

[2017-09-17 14:21] SeanTAllen commented on #40
First issue found. we had "ponyc" not "pony-stable" as the package name.

[2017-09-17 15:10] SeanTAllen commented on #40
Getting 401 not authorized from bintray for ¯\_(ツ)_/¯ reasons. Trying to figure it out.

[2017-09-17 15:15] SeanTAllen commented on #40
AH... it appears the travis encryption of keys includes the repo name

[2017-09-17 19:31] SeanTAllen commented on #40
Windows is working and update. Still having issues with debian and rpm from Travis.

[2017-09-17 20:31] SeanTAllen commented on #40
0.10 for debian and rpm are in place. i had to do a lot of tweaking of the release branch to get it to work this time. hopefully there is no pain on the next release BUT i should do the next release.

[2017-09-17 20:33] SeanTAllen opened #41 "Add `version` command line option"
That prints the version ala ponyc.

[code]

[2017-09-17 20:37] SeanTAllen commented on #40
And now that I have that working, I'm going to update the brew formula and open a PR.

[2017-09-17 20:38] SeanTAllen opened #42 "Add "how to install" instructions"
That reference bintray and homebrew.

[2017-09-17 20:40] SeanTAllen commented on #40
Homebrew PR opened:

https://github.com/Homebrew/homebrew-core/pull/18183

[2017-09-17 20:59] SeanTAllen commented on #42
closed by #43

[2017-09-17 20:59] #42 closed

[2017-09-17 21:02] SeanTAllen commented on #40
Homebrew CI seems to be having issues so this could be a bit

[2017-09-18 11:57] SeanTAllen commented on #40
homebrew released

[2017-09-18 11:57] #40 closed

[2017-10-03 17:31] rawkode commented on #28
So this is pretty tough.

My initial thought is that we need a JSON Schema that will evolve with the tool and provide a means of documenting the format for other integrations; as well a confidence that stable conforms with said schema.

From what I can tell, we could probably use ponytest for arbitary comparison tests, but it wouldn't be pretty and we'd need to provide the `json` for comparison. W

[2017-10-11 17:38] Theodus commented on #41
resolved by #44

[2017-10-11 17:38] #41 closed

[2017-10-16 12:04] SeanTAllen opened #46 "Release 0.1.1"
Incorporate arch fix

[2017-10-16 12:15] SeanTAllen commented on #46
Blessing cf3ea2545e9cb9e148d525e1b02ccb62bb4cec1a

[2017-10-16 12:20] SeanTAllen commented on #46
Release underway

[2017-10-16 12:22] SeanTAllen commented on #46
Deb and RPM packages are in bintray

[2017-10-16 12:28] SeanTAllen commented on #46
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/19502

[2017-10-16 12:33] SeanTAllen commented on #46
release notes created and waiting for everything else to complete so we can merge and announce

https://github.com/ponylang/ponylang.github.io/pull/182

[2017-10-16 13:22] SeanTAllen commented on #46
Windows is in bintray. Waiting on Homebrew.

[2017-10-16 14:37] SeanTAllen commented on #46
Homebrew is released.

[2017-10-16 14:47] SeanTAllen commented on #46
Release notes are up and announced. Thanks for playing.

https://www.ponylang.org/blog/2017/10/pony-stable-0.1.1-released/

[2017-10-16 14:47] #46 closed

[2017-10-18 19:41] nisanharamati opened #47 "gpg Key error in apt-get installation instruction"
When executing
[code]

I get the following result:
[code]

[2017-10-18 22:37] nisanharamati commented on #47
**update**:
I only get this error on Ubuntu 17.04.
If I run the same command in an Ubuntu Trusty or Xenial VM then it works as expected.

[2017-10-18 22:46] nisanharamati commented on #47
**update 2**:
using the new key ID from https://bintray.com/tvheadend/ubuntu (`379CE192D401AB61`) works on my native Ubuntu 17.04  as well as an Ubuntu Trusty VM.

[2017-11-04 04:24] tbillington opened #48 "Some errors are silently eaten and not displayed"
Running commands using pony stable doesn't seem to do anything on OSX.

I have a bundle.json

[code]

When running `stable fetch` nothing happens.

I then tried emptying `bundle.json` then running `stable add github oraoto/pony-websocket`. Nothing happened again, `bundle.json` was still empty.

I then tried `stable add github jemc/pony-inspect` as suggested in the `pony-stable` help command, still

[2017-11-04 04:30] tbillington opened #49 "Make getting started friendly"
Currently neither the readme nor pony-stable provide/explain a way to initialise a project.

I had to look at other repos and projects in pony to find how to structure the bundle.json. It's not explained in the readme how to get started.

A common solution is to add an `init` command to pony-stable to initialise the config file as seen in other package managers.

[2017-11-04 16:42] SeanTAllen commented on #48
@tbillington i assume you have git installed? what version of OSX? I use stable on OSX without issue every day. I'm unable to reproduce.

<img width="696" alt="screenshot 2017-11-04 12 42 26" src="https://user-images.githubusercontent.com/193596/32407321-a7f8f7f0-c15d-11e7-8c60-a4c7a8a39148.png">

[2017-11-04 16:44] SeanTAllen commented on #49
Running, `stable add` will create the required bundle.json. What would an `init` command do?

[2017-11-04 23:47] #26 closed

[2017-11-05 09:16] tbillington commented on #49
Create a base bundle.json with no deps presumably.

I was confused by the content of the help command. It says to `Invoke in a working directory containing a bundle.json` but none of the commands mention the ability to create bundle.json. Perhaps the `add` command could mention that it will create the bundle.json if needed?

[code]

[2017-11-05 09:19] tbillington commented on #48
OSX 10.12.6

I tried your commands in a fresh directory and it worked :) !

It seems that having a malformed bundle.json in the directory prevented stable from doing anything. As you can see from my terminal history below running add gave no output.

[code]

[2017-11-05 13:06] SeanTAllen commented on #49
Can you open a PR for this?

[2017-11-05 13:07] SeanTAllen commented on #48
@tbillington do you have a "malformed" bundle.json we can use to test with so we can verify we fixed the issue?

[2017-11-05 21:40] tbillington commented on #48
[code]
and
[code]

If the bundle.json is an empty file there is an error message, that's why I thought it was strange when there was no output for the above incorrectly formed bundle.json.

[code]

[2017-11-09 09:09] tbillington commented on #49
@SeanTAllen sure, how would you recommend changing it, something like:

[code]
->
[code]

[2017-12-05 08:57] CandleCandle commented on #22
[code]
The `bundle.json` then contains the `local-path` of `../pony-foo`

The command being run is `git -C .deps/-pony-foo12345 pull ../pony-foo` This executes git as if it was in the `pony-bar/.deps/-pony-foo12345` directory, where `../pony-foo` is highly likely to not exist.

The command that should be run, if using relative paths, is `git -C .deps/-pony-foo12345 pull ../../../pony-foo`

The wor

[2017-12-05 16:49] SeanTAllen commented on #22
Not item 1.

I don't really see a difference between 2 and 3. It seems like the same thing, slightly different implementation.

[2018-01-30 21:01] jaynagpaul opened #52 "Bundle pony-stable with pony"
Hello, just out of curiosity. Why isn't pony-stable bundled with the language itself?

[2018-02-01 00:36] SeanTAllen commented on #52
pony-stable is a fairly recent addition to the toolchain, lives in its own codebase and what not and can be evolved independently from ponyc.

when you say bundled do you mean, installed via the same installer?

[2018-02-22 17:55] Vorlent opened #54 "Implement Versioning"
Right now pony-stable still has no concept of versions.

I'd like pony-stable to follow the model of Rust's Cargo but we can avoid version ranges for now.

A basic package manager needs to do implement these rough functions.

1. Define the dependencies inside a manifest.

2. Optional: If version ranges will be supported the package manager has to use constraint solving to generate the current depe

[2018-02-27 17:10] SeanTAllen commented on #54
@Vorlent can you clarify "has no concept of versions"?

do you mean, that dependencies always use HEAD? if yes, then that isn't the case. However, there are certainly improvements that can be made. It doesn't for example, do ranges. You can use a specific git tag/commit. For example...

https://github.com/WallarooLabs/wallaroo/blob/master/machida/bundle.json#L8

[2018-02-28 16:42] Vorlent commented on #54
Okay I didn't know about the ability to specify versions inside tags.

Handling the minor and patch versions with tags this way is perfectly okay as long as the library does not have any breaking changes. But when backwards compatiblity is broken you need to be able to use two major versions of the same library in one program. Does pony-stable handle this in any way?

Let's take the pony-inspect l

[2018-03-01 02:40] SeanTAllen commented on #54
you would change the version in your bundle.json to match the API you are using in your code:

[code]

you would version your bundle.json along with your changes to upgrade to whatever the API changes were for the new version of pony-inspect.

[2018-03-01 14:32] Vorlent commented on #54
Ok. Thank you.

[2018-03-01 14:32] #54 closed

[2018-05-03 09:31] NotsOverflow commented on #47
Same with 18.04 LTS

[2018-05-03 09:35] mfelsche commented on #47
We need to use the long key id, using twi shirt key ids does not work for all gpg versions it seems.

This is the correct long key id: `379CE192D401AB61`

[2018-05-18 21:11] aturley opened #58 "running stable more than once can result in merge conflicts which results in bad deps"
## Summary

If one of your dependencies points to a git tag/commit rather than master then running stable a second time can result in merge conflicts which can then cause the checkout of the branch to fail, leaving the `.deps` folder in a bad state.

## Steps to Reproduce

1. Create a `bundle.json` file that uses a tag as the version. I'm using this:
[code]
2. Run `stable fetch` twice.

### Expect

[2018-05-25 11:20] SeanTAllen opened #62 "Release 0.1.2"
For Ponyc 0.22.x compat + bug fix from @aturley

[2018-05-25 11:28] SeanTAllen commented on #62
Blessing 96f1ca6ace6fded6a470fea721cb9e0d924586aa

[2018-05-25 11:29] SeanTAllen commented on #62
release is underway

[2018-05-25 11:33] SeanTAllen commented on #62
homebrew pr opened: https://github.com/Homebrew/homebrew-core/pull/28270

[2018-05-25 11:34] SeanTAllen commented on #62
RPM, Debian and Windows are in bintray.

[2018-05-25 11:34] SeanTAllen commented on #62
release notes PR opened: https://github.com/ponylang/ponylang.github.io/pull/287

[2018-05-25 13:56] SeanTAllen commented on #62
homebrew released. thanks for playing along.

[2018-05-25 17:32] #62 closed

[2018-06-02 16:00] dipinhora opened #64 "Release 0.1.3"
For updated release process to test out COPR/PPA packaging.

[2018-06-02 16:01] dipinhora commented on #64
Blessing 0148bdaa66a24d45bc97cc9f7554101a50ac4489

[2018-06-02 16:03] dipinhora commented on #64
release is underway

[2018-06-02 16:10] dipinhora commented on #64
homebrew pr opened; https://github.com/Homebrew/homebrew-core/pull/28595

[2018-06-02 16:13] dipinhora commented on #64
RPM, Debian and Windows are in bintray.

[2018-06-02 16:27] dipinhora commented on #64
release notes PR opened: https://github.com/ponylang/ponylang.github.io/pull/294

[2018-06-02 18:52] dipinhora commented on #64
waiting on homebrew

[2018-06-03 11:12] dipinhora commented on #64
Homebrew merged. Release completed.

[2018-06-03 11:12] #64 closed

[2018-06-10 20:06] #48 closed

[2018-06-15 13:10] mfelsche opened #71 "Add a command to initialize a directory from a project template"
We currently have some kind of template for setting up a new project: https://github.com/ponylang/library-project-starter but setting this up is a tiny bit cumbersome as one has to replace all variables defined therein somehow manually or with a custom sed script or the like.

My suggestion is somehow inspired by [giter8](http://www.foundweekends.org/giter8/) and [sbt](https://www.scala-sbt.org/)

[2018-06-15 13:33] SeanTAllen opened #72 "Release 0.1.4"
Let's get that gitlab support out there for the world and all those folks #movingtogitlab.

[2018-06-15 13:34] SeanTAllen commented on #71
@mfelsche that is in line with what I was thinking re: https://github.com/ponylang/library-project-starter/issues/1

[2018-06-16 03:20] SeanTAllen commented on #72
Blessing bc052f87514c38bc75e280e760fe9ffd5d9c2fca

[2018-06-16 03:22] SeanTAllen commented on #72
release underway

[2018-06-16 03:30] SeanTAllen commented on #72
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/29096

[2018-06-16 03:34] SeanTAllen commented on #72
Windows release is in bintray

[2018-06-16 03:38] SeanTAllen commented on #72
copr and ppa are done

[2018-06-16 03:43] SeanTAllen commented on #72
bintray debian failed.

[2018-06-16 04:00] SeanTAllen commented on #72
bintray issue fixed. deb packages are there.

[2018-06-16 04:05] SeanTAllen commented on #72
Release PR opened: https://github.com/ponylang/ponylang.github.io/pull/304

[2018-06-16 04:08] SeanTAllen commented on #72
Waiting on Homebrew at this point. When it passes, anyone can merge the PR release notes (as I will probably be traveling) and pick up the release process here:

https://github.com/ponylang/pony-stable/blob/master/RELEASE_PROCESS.md#wait-on-homebrew

[2018-06-16 07:28] SeanTAllen commented on #72
homebrew merged.

[2018-06-16 07:29] SeanTAllen commented on #72
release notes blog post merged.

[2018-06-16 07:36] SeanTAllen commented on #72
Release notices posted.

Thanks for playing!

[2018-06-16 07:36] #72 closed

[2018-06-18 06:11] srenatus commented on #28
I'll try pushing this forward. #70 gets some scaffolding in place, leaving open the following test TODOs:

- [ ] `stable fetch`
- [ ] `stable add`
- [x] `stable env`: #73

[2018-07-11 20:05] SeanTAllen opened #75 "Rename `pony-stable`"
Folks are confusing `stable` with thinking its the stable release of Pony. We initially discussed renaming to `stable` but @jemc pointed out that could be confusing as well.

@kulibali suggests barn.

We would need to rename the repo, and any packages such as brew etc as well as check all documentation.

[2018-07-11 20:48] chalcolith commented on #75
I suggested `barn`.  Or maybe `pony-barn`?

[2018-07-12 12:13] SeanTAllen opened #76 ""integration.Env(invalid bundle.json in nested dir)" test periodically fails"
The "integration.Env(invalid bundle.json in nested dir)" periodically fails. So far twice since it was merged. Here's an example:

https://circleci.com/gh/ponylang/pony-stable/204?utm_campaign=build-failed&utm_medium=email&utm_source=notification

Need to figure out why and address.

cc @srenatus

[2018-07-12 12:29] srenatus commented on #76
Thanks for the heads-up, I'll have a look later.

[2018-07-12 14:01] srenatus commented on #76
I've tried to reproduce this locally with restricting docker's memory, [as described here](https://github.com/ponylang/pony-stable/pull/73#issuecomment-400198443) and ran it in a loop both with `ponylang/ponyc:release` and `ponylang/ponyc:latest` (see [docker tags](https://hub.docker.com/r/ponylang/ponyc/tags/)) -- and couldn't reproduce it. Of course I'm not claiming that it doesn't exist 😉 just

[2018-07-12 14:34] jdhorwitz commented on #75
`silo`

[2018-07-12 17:20] EpicEric commented on #75
`hay`

[2018-07-12 17:21] EpicEric commented on #75
`remuda` [[ref]](https://en.wikipedia.org/wiki/Remuda)

[2018-07-12 17:26] mfelsche commented on #75
Equerry - because this is the one in charge of the horses, like pony-stable is in charge of all the packages.

[2018-07-12 17:31] mfelsche commented on #75
[tack](https://en.m.wikipedia.org/wiki/Horse_tack)

Somehow i like this one because it names the things you need to ride a pony/horse, like you probably need packages to compile your pony program.

[2018-07-13 11:38] killerswan commented on #75
rodeo! 🐴

[2018-07-13 21:20] jemc commented on #75
(Note that you should feel free to vote for more than one name, as you wish)

[2018-07-13 22:02] jtfmumm commented on #75
`corral`

[2018-07-13 22:02] jtfmumm commented on #75
`saddlebag`

Maybe the command would be `sbg` or `sdbg`

[2018-07-14 12:03] aturley commented on #75
trailer

Because it is used to transport ponies from some other place into your
project.

On Fri, Jul 13, 2018 at 6:02 PM, John Mumm <notifications@github.com> wrote:

[2018-07-16 00:20] StephenStrickland commented on #75
saddle
Shorter variation from @jtfmumm

[2018-07-16 04:39] Alberto-Safra commented on #75
HorC for like horsie + c for compiler
This is a joke intended to make things more confusing.

But what about:
PackPony

[2018-07-16 11:21] burjui commented on #75
The shorter the name, the better. @mfelsche's "tack" is short, related to horses and is also a verb that basically means "attach". Pretty smart, if you ask me.

[2018-07-16 15:55] hmans commented on #75
`ponyhof`

German "cute" word for stable. There's also a saying "das Leben ist kein Ponyhof", roughly translating to "life is not a party". Yup, that's how we Germans roll. *lässt das Mikrofon fallen*

(Edit: my vote, if it matters, goes to `rodeo`, which is perfect. *lässt das Mikrofon nochmal fallen*)

[2018-07-16 18:18] patternspandemic commented on #75
I think `herd` works well.

[2018-07-19 19:02] nwolff commented on #75
jockey

[2018-07-22 15:38] jemc commented on #75
So far `tack` and `rodeo` are in the lead with six :+1: votes each at the time of this comment.

I did a quick search for name collisions:
- [Rodeo, A Native Python IDE for Data Science](https://rodeo.yhat.com/)
  - Note that this software package does indeed have a executable named `rodeo`, which may clash in a user's `PATH`.

I couldn't find a name collision for `tack` that seemed like it might

[2018-07-22 22:36] SeanTAllen commented on #75
This is a sad day for `rodeo`

[2018-07-24 11:19] rawkode commented on #22
`local-git` actually uses the bundle's path:

[code]

I can make a similar change for `local`

[2018-07-24 16:37] dipinhora opened #79 "Release 0.1.5 and 0.1.6"
This release is mainly to test out the new bintray deb packaging process.

[2018-07-24 17:22] dipinhora commented on #79
Blessing ceeb6771da5ea5886906d9ca06275170921f3db4

[2018-07-24 17:25] dipinhora commented on #79
Release started

[2018-07-24 17:29] dipinhora commented on #79
homebrew pr opened: https://github.com/Homebrew/homebrew-core/pull/30442

[2018-07-24 18:33] dipinhora commented on #79
Windows packages are available in Bintray.

[2018-07-24 18:34] dipinhora commented on #79
Linux packages have hit a snag and will require another release to resolve.

[2018-07-24 18:35] dipinhora commented on #79
Planning on blessing 327e7576ca92b313315dbff6802f913f38d289a7 for 0.1.6.

[2018-07-24 18:40] dipinhora commented on #79
blessed 327e757

[2018-07-24 18:40] dipinhora commented on #79
release started for 0.1.6

[2018-07-24 18:41] dipinhora commented on #79
homebrew pr updated to be for 0.1.6: https://github.com/Homebrew/homebrew-core/pull/30442

[2018-07-24 18:49] dipinhora commented on #79
Release notes PR for 0.1.5 and 0.1.6: https://github.com/ponylang/ponylang.github.io/pull/318

[2018-07-24 18:56] dipinhora commented on #79
Windows packages for 0.1.6 are available in Bintray.

[2018-07-24 18:58] dipinhora commented on #79
Travis CI is failing due to some apt repos not being available because packagecloud has an outage (see: http://www.packagecloudstatus.io/). I'll restart travis once packagecloud is working again.

[2018-07-25 01:58] dipinhora commented on #79
Debian packages for 0.1.6 are available in Bintray.

[2018-07-25 01:59] dipinhora commented on #79
Launchpad PPA is done for all distributions except for Artful which was rejected with the following:

[code]

[2018-07-25 04:29] dipinhora commented on #79
COPR done

[2018-07-25 04:30] dipinhora commented on #79
waiting on homebrew

[2018-07-26 15:33] dipinhora commented on #79
I missed the homebrew notification. It was merged yesterday.

[2018-07-26 15:34] dipinhora commented on #79
release notes blog post merged.

[2018-07-26 15:43] dipinhora commented on #79
announcements made.

release completed.

[2018-07-26 15:43] #79 closed

[2018-08-08 19:51] SeanTAllen commented on #75
Tack is the winner.

[2018-08-08 19:53] SeanTAllen commented on #75
@dipinhora what is involved with the release process in changing the name that you know of?

[2018-08-08 22:36] plietar commented on #75
While we're renaming stable, may I suggest renaming `bundle.json` to `tack.json`? We can temporarily support both (with a warning?) for a bit.

[2018-08-08 23:40] SeanTAllen commented on #75
@plietar the bundle.json renaming sounds like a good idea.

[2018-08-09 13:41] #22 closed

[2018-08-09 13:42] SeanTAllen opened #87 "Release 0.2.0"

[2018-08-09 14:48] jemc commented on #75
Agreed.

[2018-08-09 20:22] EpicEric commented on #75
@plietar Could you open a separate issue?

[2018-10-14 13:55] SeanTAllen commented on #75
I've created a branch to start working on this.

`tack-json`.

There's a PR of keeping track of progress.

https://github.com/ponylang/pony-stable/pull/91

[2018-10-15 09:04] mfelsche opened #92 "Use `cli` package to define the command line instead of deprecated `options` package"
Currently we use the deprecated [`options`](https://stdlib.ponylang.io/options--index) package.
We should port stable/tack to [`cli`](https://stdlib.ponylang.io/cli--index) instead.

This will resolve the problem that currently stable is unable to show a help dialogue for the subcommands, which makes it a little harder to use right now.

[2018-10-29 03:03] tripl3dogdare opened #94 "Syntax errors when trying to build from source on Windows 10"
I'm attempting to install this on Windows 10 in order to start working with Pony, but when I run `make.bat` as specified in the installation instructions, somewhere around 2 dozen syntax errors are spat out, mostly errors relating to it apparently not recognizing partial function calls as valid syntax, a la `args(0)?`.

I have followed the installation instructions exactly for both Pony and Stable

[2018-10-29 03:58] chalcolith commented on #94
Can you post the output of `ponyc --version`, please?

[2018-10-29 04:10] tripl3dogdare commented on #94
[code]

[2018-10-29 04:17] chalcolith commented on #94
That's quite an old version.  Try https://dl.bintray.com/pony-language/ponyc-win/ponyc-0.25.0-win64.zip, that should work better for you.

[2018-10-29 04:29] tripl3dogdare commented on #94
Ah, my bad. I had figured the versions would be newest first, not alphabetical. Should've looked more closely. Thanks!

[2018-10-29 04:29] #94 closed

[2018-11-20 21:57] mfelsche commented on #19
with #57 being merged, we do have something.

[2018-11-20 21:57] #19 closed

[2018-12-05 10:12] srenatus commented on #76
Hmm. Looks like since 204, it has only failed _once more_, https://circleci.com/gh/ponylang/pony-stable/353 -- am I wrong? Still no idea what happens there, but it hasn't happened for four months, has it? 🤔

[2018-12-17 07:38] srenatus commented on #92
@mfelsche I've assigned you -- just to make it even more clear that this is being worked on... 😉

[2019-02-08 12:55] pzel opened #96 "Builds that contain cyclic dependencies cause an infinite loop"
As demonstrated in [this demo app](https://github.com/pzel/ponyc-cyclic-deps-demo), running
`stable env ponyc` in a project that contains cyclic dependencies creates a process that never finishes, consuming more and more memory until it's killed.

## Bug report

#### Current behavior
Cyclic dependencies cause `stable env ponyc` to fall into an infinite loop.

#### Expected behavior
Cyclic dependen

[2019-02-08 13:49] SeanTAllen commented on #96
@pzel are you interested in working on a fix for this?

[2019-02-08 14:01] pzel commented on #96
Yes, I can take a stab.

[2019-02-08 18:31] SeanTAllen commented on #87
Pushing this up for something to do soon once https://github.com/ponylang/pony-stable/pull/97 is merged.

[2019-02-08 18:35] #96 closed

[2019-02-08 18:36] SeanTAllen commented on #87
I asked in the Slack for volunteer(s) to be release engineer(s) for this project. If no one responds by Sunday, I'll do this release myself.

[2019-02-08 18:40] SeanTAllen commented on #87
Release notes:

## Local dependencies are relative to invocation directory, not `bundle.json`

Prior to this change, given:

[code]
because stable is invoked from the `/pony-bar/bar` folder, the `../pony-foo` path refers to `/pony-bar/pony-foo`, which  doesn't exist. As of 0.2.0, will refer to `/pony-foo`. This is a breaking change where someone might have been relying on the previous behavior. Ho

[2019-02-08 23:47] SeanTAllen commented on #87
Blessing 6f201415d3e462fa54bf8398133084aeebd87646

[2019-02-08 23:56] SeanTAllen commented on #87
There were commits on `release` that @dipinhora had done to get a broken release process working that were accidentally not moved to master. I've brought them over so, will be blessing a different commit once CI passes on that merge.

[2019-02-09 00:01] SeanTAllen commented on #87
Blessing 1ca99ecc92796065eecd65719a6dadf31a318077

[2019-02-09 00:10] SeanTAllen commented on #87
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/36832

[2019-02-09 00:30] SeanTAllen commented on #87
COPR API key needed to be updated. That is done. Restarting failed Debian and COPR builds.

[2019-02-09 00:30] SeanTAllen commented on #87
Windows release is available.

[2019-02-09 01:07] SeanTAllen commented on #87
COPR build is done.

[2019-02-09 01:20] SeanTAllen commented on #87
PPA build is done.

[2019-02-09 02:32] SeanTAllen commented on #87
Deb version is released.

[2019-02-09 02:32] SeanTAllen commented on #87
Waiting on homebrew

[2019-02-09 13:51] SeanTAllen commented on #87
Homebrew is released

[2019-02-09 13:57] SeanTAllen commented on #87
Announced. Thanks for playing along.

[2019-02-09 13:57] #87 closed

[2019-03-05 22:56] adri326 opened #101 "git submodules are not initialized on fetch"
This is a rather simple bug: when a repository is added through stable, its git submodules do not get initialized.

This, of course, causes issues with building the code afterwards, as some of the libraries/code will be missing.

Example: (using any repository with submodules work)

[code]

The current workaround is to simply `cd` to the different libraries's folders and to run `git submodules upd

[2019-07-17 01:20] SeanTAllen opened #109 "Remove usage of `regex`"
The regex library has been removed from ponyc and now lives in its
own library. This causes a bit of a problem for usage with stable.

How would we install that library so we can test stable? With the
stable we just built? Perhaps. Regex is only used in an integration
test and it can probably be accomplished in another fashion.

This issue is to reactivate the small amount of code that is currentl

[2019-07-17 01:43] #109 closed

[2019-07-17 01:44] SeanTAllen opened #110 "Turn "regex" code back on in integration test"
Temporily turned off until we are providing .tar.gz files for download rather than packages. Once that is done, we can more easily create environments where the previous version of stable is available so we can fetch the `regex` dependency to build the current stable.

[2019-07-23 12:53] SeanTAllen opened #113 "Release 0.2.1"
With the closing of #101, we should do a new release.

[2019-07-23 13:18] #101 closed

[2019-07-24 00:05] SeanTAllen commented on #113
Release is underway.

[2019-07-24 00:13] SeanTAllen commented on #113
Homebrew PR opened: https://github.com/Homebrew/homebrew-core/pull/42366

[2019-07-24 00:26] SeanTAllen commented on #113
Windows package is now available in bintray.

[2019-07-24 00:53] SeanTAllen commented on #113
Debian package is available

[2019-07-24 00:55] SeanTAllen commented on #113
COPR packages are available.

[2019-07-24 03:01] rafaelfess commented on #52
I think I understood what he means.

Maybe what he was thinking is something like the [Rust lang](https://www.rust-lang.org/tools/install) has.

A tool like `rustup` that installs and manages the installation of `cargo` (pony-stable) and `rustc` (ponyc)

[2019-07-24 20:12] SeanTAllen commented on #113
still waiting on homebrew

[2019-07-25 11:30] SeanTAllen commented on #113
Still waiting on homebrew. I'm going to announce the release with a note that homebrew hasn't been made available yet.

[2019-07-25 11:34] SeanTAllen commented on #113
release notes are published:

https://www.ponylang.io/blog/2019/07/pony-stable-0.2.1-released/

[2019-07-25 11:39] #113 closed

[2019-07-27 00:30] SeanTAllen opened #115 "Remove extra apt-get calls in circleci config"
There are a couple in the pony release image usage that can be removed on the next pony release.
Same for the changelog-tool but, that requires a new changelog-tool release.

[2019-07-27 12:09] #115 closed

[2019-07-27 19:16] SeanTAllen opened #118 "Revisit how version is set"
We need to switch to setting the version via a `-D` define rather than text replacement.

Currently if you build stable, change the version, and build again, you won't pick up the version change. Using sed to change the string is error prone and not what we want to be doing.

[2019-08-04 03:45] SeanTAllen opened #122 "Update release process and release script to add new features"
The library starter project has a new release script (first version). It's similar to the ponyc one but takes 2 extra args and posts the release notes on GitHub.

[2019-11-09 15:22] SeanTAllen opened #124 "Get a release into cloudsmith so ponyup works"

[2019-11-09 16:05] SeanTAllen commented on #118
This can be fixed via the Makefile. See changelog-tool and ponyup as examples.

[2019-11-09 16:06] SeanTAllen commented on #52
Ponyup can now be used to install ponyc and stable. Closing this.

[2019-11-09 16:14] #52 closed

[2019-11-09 17:35] #122 closed

[2019-11-09 17:35] #124 closed

[2019-11-09 22:23] SeanTAllen opened #128 "Appveyor setup doesn't trigger release"
I did there "trigger on tag" option

https://github.com/ponylang/pony-stable/blob/master/.appveyor.yml#L7

But it didnt work for 0.2.2. Need to figure out in a test repo before next release.

[2019-11-10 07:30] SeanTAllen opened #131 "Update Linux installation instructions"
We should be directing Linux users to use `ponyup` to install `stable`. Should include a link to installation instructions for `ponyup` in the `ponyup` repository.

[2019-11-10 07:34] SeanTAllen commented on #118
This was already done at some point.

[2019-11-10 07:34] #118 closed

[2019-11-10 15:51] SeanTAllen opened #133 "Release 0.3.0"
We want to release 0.3.0 once we have merged #95 and #91.

This is my thought on approach. Let's do:

- release related portions of rename first in particular, dockerfiles etc. (including renaming this repo)

by doing this we won't break existing stable usage and have a weird "if i use master if is one thing, if i use release it is another". that would be a pain to deal with.

- merge #95

-  upda

[2019-11-10 15:52] SeanTAllen commented on #133
@ponylang/core can I get your input on the plan outlined in this issue? If you are good with the general approach, I can start to flesh out the plan.

[2019-11-10 15:57] #128 closed

[2019-11-10 19:43] mfelsche commented on #133
Go ahead! I can do the #91 updating after #95 is merged, if you like @SeanTAllen

[2019-11-10 19:52] SeanTAllen commented on #133
@mfelsche i'll handle it.

[2019-12-22 18:03] superherointj opened #137 "pony-stable Arch package seems broken for some CPUs"
I'm tracking an error that makes pony-stable dump core in certain cases.
To reproduce, just install pony-stable in a machine and run "stable version" would be enough to reproduce it. It'll error as: "Illegal instruction (core dump)"

Errors in: i5-3320M, i5-2520M
Works fine with i7-4510U.

Arch Linux Forum thread:
https://bbs.archlinux.org/viewtopic.php?id=251577

Arch pony-stable package bug repo

[2019-12-22 19:00] superherointj commented on #137
The PKGBUILD maintainer has fixed the problem.

Felix Yan (felixonmars) - Sunday, 22 December 2019, 15:46 GMT-3
The default building target of ponyc seems to be the host CPU. I have added the same arch=x86-64 parameter as the ponyc package in 0.2.2-2. Please try again.

[2019-12-22 19:00] #137 closed

[2019-12-22 19:01] SeanTAllen commented on #137
So, you need to pass arch option to make, otherwise it will use the arch of the machine you are building on. See the script we use to build nightly releases, you can use it as an exemplar.

On Sun, Dec 22, 2019, at 13:03, superherointj wrote:

[2019-12-22 19:15] superherointj commented on #137
Yes, I think I figured out why I wasn't able to use make in ponyup properly before. Will confirm soon. Is related. When ponyup is ready, I'll close issue there.

Edit: confirmed all is fine now.

[2019-12-29 10:29] MidAutumnMoon opened #140 "illegal hardware instruction"
Platform: Manjaro amd64
CPU: Intel i5-2450M (a very old one)

pony-stable was installed (version 0.2.2-2) from community repo.

It can not run :cry:, just says: "[1]   *PID* illegal hardware instruction (core dumped)  *stable*".
That's super weird, I have never seen this when using other pony applications.

I guess this should be the problem of ponyc.

[2019-12-29 10:33] MidAutumnMoon commented on #140
I've built pony-stable from-source on master branch, and it can run.

[2019-12-29 13:00] SeanTAllen commented on #140
@MidAutumnMoon

The problem you are encountering would be based on the CPU architecture that the package was built for. The official packages that we release are built for a very generic `x86-64` instruction set. That allows them to run on a wide variety of CPUs. It does, however, come with a performance cost. If you were to build pony-stable and not indicate the architecture, it will build for th

[2019-12-29 13:00] #140 closed

[2019-12-30 02:08] MidAutumnMoon commented on #140
Thanks! And sorry that I've not provided enough information.

I used the build script of pony-stable in the Arch repository on my computer and everything
is fine. So this really should be a bug between hardwares (and maybe of ponyc).

Whatever I've solved the problem and thanks for your replying! :smiley:

[2020-02-10 09:57] hardliner66 commented on #33
@SeanTAllen any updates on this?

[2020-02-10 15:24] SeanTAllen commented on #33
pony-stable has been deprecated and no new work is planned.

[2020-02-10 15:27] rhagenson commented on #33
The pony-stable replacement is [corral](https://github.com/ponylang/corral)

[2020-02-10 16:15] hardliner66 commented on #33
Thanks for the info.

[2020-04-25 04:37] SeanTAllen opened #142 "Add FreeBSD support"
I believe this is mostly adding in order as we verify everything:

1- PR support for FreeBSD
2- Nightly builds
3- Release builds

Because GitHub actions don't have FreeBSD support, we'll need to use CirrusCI.

[2020-04-26 10:22] Akiyamka commented on #75
any news?

[2020-04-26 10:29] Akiyamka commented on #49
I would also love to see the initialization command. it would be cool to set the package version and name In bundle.json on init step (with user prompt)

[2020-04-27 17:48] rhagenson commented on #75
@Akiyamka I am not aware of any news on `tack`. Are you aware that `stable` will eventually be superseded by [`corral`](https://github.com/ponylang/corral)?

[2020-04-28 18:46] Akiyamka commented on #75
@rhagenson I did not know this, thank you very much for the link